@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.register-page{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   width:300px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 10px;
   margin-top: 40px;
   color: blanchedalmond;
   border:2px solid #f9ca24;
   box-shadow: rgba(246, 229, 141,1) 0px 5px 15px;
}
.register-form {
   width: 100%;
}

.register-form .input-field{
display: block;
margin-bottom: 10px;
border:0px;
background-color: #c8d6e5;
color:#5f27cd;

}

.btn-submit {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
.btn-submit {
   margin: 10px auto;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: 0px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
 }

 .btn-submit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }

 @media only screen and (max-width:420px) {
    .register-page{
        width:200px;
        padding: 15px;
       margin: 50px 0 0 10px;
       
       box-sizing: border-box;
       
    }
 }