.about-us-bg{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-biomolecular-technology-sense-blue-medical-banner-image_261142.jpg");
    
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}